@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
  --primary: #20c997;
  --primary-hover: #1aa179;
  --primary-shade: #03140f;
  --font-default: #000;
  --white: #fff;
  --main-background: #f8f9fa;
  --border: #f1f3f5;
  --nav-hover: #e9ecef;
  --component: #868e96;
  --component-hover: #495057;
  --component-border: #ced4da;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 400;
  color: var(--font-default);
}

html,
body,
#root,
.App {
  height: 100%;
}

.app-layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 6.4rem calc(100vh - 6.4rem);
}

.color-primary {
  color: var(--primary);
}

.color-primary-shade {
  color: var(--primary-shade);
}

.btn {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;

  transition: all 0.3s;
}

/* .heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: var(--font-heading);
  letter-spacing: -0.5px;
} 

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
} */
