@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
  --primary: #20c997;
  --primary-hover: #1aa179;
  --primary-shade: #03140f;
  --font-default: #000;
  --white: #fff;
  --main-bg: #f8f9fa;
  --border: #f1f3f5;
  --nav-hover: #e6fcf5;
  --component: #868e96;
  --component-hover: #495057;
  --component-border: #ced4da;
  --color-palette-bg: #ffe8cc;
  --note-color-0: #fff;
  --note-color-1: #ffa8a8;
  --note-color-2: #e599f7;
  --note-color-3: #b197fc;
  --note-color-4: #66d9e8;
  --note-color-5: #74c0fc;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 400;
  color: var(--font-default);
}

html,
body,
#root,
.App {
  height: 100%;
}

input,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
  padding: 8px;
}

.app-layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 6.4rem calc(100vh - 6.4rem);
}

.app-layout-inner {
  display: flex;
}

.app-layout-inner Main {
  flex-grow: 1;
}

.color-primary {
  color: var(--primary);
}

.color-primary-shade {
  color: var(--primary-shade);
}

.btn {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;

  transition: all 0.3s;
}

.btn-primary,
.btn-primary-outline {
  border-radius: 1rem;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

.btn-primary-outline {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-primary-outline:hover {
  color: var(--primary-hover);
  border: 1px solid var(--primary-hover);
}

::placeholder {
  color: var(--component-border);
}

/* .heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: var(--font-heading);
  letter-spacing: -0.5px;
} 

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
} */
