.note-card {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  gap: 2.4rem;
  border: 1px solid var(--component-border);
  border-radius: 4px;
}

.note-card-color-0 {
  background-color: var(--note-color-0);
}

.note-card-color-1 {
  background-color: var(--note-color-1);
}

.note-card-color-2 {
  background-color: var(--note-color-2);
}

.note-card-color-3 {
  background-color: var(--note-color-3);
}

.note-card-color-4 {
  background-color: var(--note-color-4);
}

.note-card-color-5 {
  background-color: var(--note-color-5);
}

.note-header,
.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-header-title {
  font-size: 1.8rem;
}

.note-header-date {
  color: var(--component);
  font-size: 1.2rem;
}

.note-labels {
  display: flex;
  gap: 8px;
}

.note-labels-item {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 1rem;
  background-color: var(--component-border);
}

.note-footer {
  position: relative;
}

.note-footer-btn-container {
  display: flex;
  gap: 2.4rem;
  position: relative;
}

.note-card-btn {
  background-color: var(--transparent);
  font-size: 2rem;
  color: var(--component);
}

.note-card-btn:hover {
  color: var(--component-hover);
}
